<!DOCTYPE html>
<html lang="en" >
<head>
    <title>OCTO ON Twitter : Twitter Rank</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="assets/bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="css/top.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>

<body ng-app="twitter" ng-cloak >

<div ng-cloak class="toolbardemoBasicUsage">
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>Top 10 des influenceurs Twitter au Maroc</span>
                </h2>
                <span flex></span>
                <md-button class="md-raised" aria-label="Learn More" ng-click="showAlert($event)">
                    Savoir plus sur notre algorithme de classement
                </md-button>
            </div>
        </md-toolbar>
    </md-content>
</div>

<div ng-controller="InfluenceurTwitterController as vm" flex ng-cloak class="topTwitterInfluenceur">
    <md-grid-list
            md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="4:3"
            md-gutter="8px" md-gutter-gt-sm="4px" >
        <md-grid-tile ng-repeat="tile in vm.tiles"
                      md-rowspan="{{tile.span.row}}"
                      md-colspan="{{tile.span.col}}"
                      md-colspan-sm="1"
                      ng-class="tile.background">

            <div layout="column" layout-align="start start">
                <div><img ng-src="{{tile.profileImageUrl}}"></md-icon> @{{tile.screenName}}</div>
                <div>Name : {{tile.name}}</div>
                <div>Nombre de followers : {{tile.followerCount}}</div>
                <div>Nombre de follows : {{tile.followsCount}}</div>
                <div>Twitter Rank : {{tile.pagerank}}</div>
            </div>

            <md-grid-tile-footer>
                <div layout="row" layout-wrap>
                    <div flex="20" layout="column" layout-align="center start" data-ng-show="$index == 0">
                        <md-icon md-svg-src="assets/svg/winner-{{$index+1}}.svg"
                                 aria-label="Insert Drive Icon" aria-label="Winner" class="winner-{{$index+1}}">
                        </md-icon>
                    </div>
                    <div flex="25" layout="column" layout-align="center start" data-ng-show="$index > 0">
                        <div><h3>{{tile.title}} :</h3></div>
                    </div>
                    <div flex="75" layout="column" layout-align="center start">
                        <div><h3>@{{tile.screenName}}</h3></div>
                        <!--<div><h3>Twitter Rank : {{tile.pagerank}}</h3></div>-->
                    </div>
                </div>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>

<script src="assets/bower_components/angular/angular.js"></script>
<script src="assets/bower_components/angular-animate/angular-animate.js"></script>
<script src="assets/bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="assets/bower_components/angular-material/angular-material.js"></script>
<script type="text/javascript" src="js/OctoTwitter.js"></script>
</body>
</html>
